{% extends "base.html" %}
{% block title %} ShowMeMore {% endblock %}

{% block content %}
    <div class=table-responsive>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Image</th>
              <th scope="col">Title</th>
              <th scope="col">Description</th>
              <th scope="col">Specify</th>
            </tr>
          </thead>
          <tbody>
              {% for img in images%}
                <tr>
                  <th scope="row">{{img.relational_id}}</th>
                  <td>
                    <img src="{{ img.data[4:] }}" alt="predicted image" style="width:280px; height:180px">
                  </td>
                  <td>{{img.title}}</td>
                  <td>{{img.description}}</td>
                  <td>
                    <a href="{{url_for ('views.specify', id = img.id) }}" class="btn btn-primary" style="width:110px">Do it!</a>
                  </td>
                  </tr>
              {% endfor %}
          </tbody>
        </table>
      </div>
{% endblock %}

{% block collection%}
<style>
    .dropdown-menu{
      max-height: 280px;
      overflow-y: auto;
    }
  </style>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Search For...
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="/person">Person</a>
      <a class="dropdown-item" href="/bicycle">Bicycle</a>
      <a class="dropdown-item" href="/car">Car</a>
      <a class="dropdown-item" href="/motorbike">Motorbike</a>
      <a class="dropdown-item" href="/aeroplane">Aeroplane</a>
      <a class="dropdown-item" href="/bus">Bus</a>
      <a class="dropdown-item" href="/train">Train</a>
      <a class="dropdown-item" href="/truck">Truck</a>
      <a class="dropdown-item" href="/boat">Boat</a>
      <a class="dropdown-item" href="/traffic-light">Traffic Light</a>
      <a class="dropdown-item" href="/fire-hydrant">Fire Hydrant</a>
      <a class="dropdown-item" href="/stop-sign">Stop Sign</a>
      <a class="dropdown-item" href="/parking-meter">Parking Meter</a>
      <a class="dropdown-item" href="/bench">Bench</a>
      <a class="dropdown-item" href="/bird">Bird</a>
      <a class="dropdown-item" href="/cat">Cat</a>
      <a class="dropdown-item" href="/dog">Dog</a>
      <a class="dropdown-item" href="/horse">Horse</a>
      <a class="dropdown-item" href="/sheep">Sheep</a>
      <a class="dropdown-item" href="/cow">Cow</a>
      <a class="dropdown-item" href="/elephant">Elephant</a>
      <a class="dropdown-item" href="/bear">Bear</a>
      <a class="dropdown-item" href="/zebra">Zebra</a>
      <a class="dropdown-item" href="/giraffe">Giraffe</a>
      <a class="dropdown-item" href="/backpack">Backpack</a>
      <a class="dropdown-item" href="/umbrella">Umbrella</a>
      <a class="dropdown-item" href="/handbag">Handbag</a>
      <a class="dropdown-item" href="/tie">Tie</a>
      <a class="dropdown-item" href="/suitcase">Suitcase</a>
      <a class="dropdown-item" href="/frisbee">Frisbee</a>
      <a class="dropdown-item" href="/skis">Skis</a>
      <a class="dropdown-item" href="/snowboard">Snowboard</a>
      <a class="dropdown-item" href="/sports-ball">Sports Ball</a>
      <a class="dropdown-item" href="/kite">Kite</a>
      <a class="dropdown-item" href="/baseball-bat">Baseball Bat</a>
      <a class="dropdown-item" href="/baseball-glove">Baseball Glove</a>
      <a class="dropdown-item" href="/skateboard">Skateboard</a>
      <a class="dropdown-item" href="/surfboard">Surfboard</a>
      <a class="dropdown-item" href="/tennis-racket">Tennis Racket</a>
      <a class="dropdown-item" href="/bottle">Bottle</a>
      <a class="dropdown-item" href="/wine-glass">Wine Glass</a>
      <a class="dropdown-item" href="/cup">Cup</a>
      <a class="dropdown-item" href="/fork">Fork</a>
      <a class="dropdown-item" href="/knife">Knife</a>
      <a class="dropdown-item" href="/spoon">Spoon</a>
      <a class="dropdown-item" href="/bowl">Bowl</a>
      <a class="dropdown-item" href="/banana">Banana</a>
      <a class="dropdown-item" href="/apple">Apple</a>
      <a class="dropdown-item" href="/sandwich">Sandwich</a>
      <a class="dropdown-item" href="/orange">Orange</a>
      <a class="dropdown-item" href="/broccoli">Broccoli</a>
      <a class="dropdown-item" href="/carrot">Carrot</a>
      <a class="dropdown-item" href="/hot-dog">Hot Dog</a>
      <a class="dropdown-item" href="/pizza">Pizza</a>
      <a class="dropdown-item" href="/donut">Donut</a>
      <a class="dropdown-item" href="/cake">Cake</a>
      <a class="dropdown-item" href="/chair">Chair</a>
      <a class="dropdown-item" href="/sofa">Sofa</a>
      <a class="dropdown-item" href="/potted-plant">Potted Plant</a>
      <a class="dropdown-item" href="/bed">Bed</a>
      <a class="dropdown-item" href="/dining-table">Dinning Table</a>
      <a class="dropdown-item" href="/toilet">toilet</a>
      <a class="dropdown-item" href="/tv-monitor">Tv Monitor</a>
      <a class="dropdown-item" href="/laptop">Laptop</a>
      <a class="dropdown-item" href="/mouse">Mouse</a>
      <a class="dropdown-item" href="/remote">Remote</a>
      <a class="dropdown-item" href="/keyboard">Keyboard</a>
      <a class="dropdown-item" href="/cell-phone">Cell Phone</a>
      <a class="dropdown-item" href="/microwave">Microwave</a>
      <a class="dropdown-item" href="/oven">Oven</a>
      <a class="dropdown-item" href="/toaster">Toaster</a>
      <a class="dropdown-item" href="/sink">Sink</a>
      <a class="dropdown-item" href="/refrigerator">Refrigerator</a>
      <a class="dropdown-item" href="/book">Book</a>
      <a class="dropdown-item" href="/clock">Clock</a>
      <a class="dropdown-item" href="/vase">Vase</a>
      <a class="dropdown-item" href="/scissors">Scissors</a>
      <a class="dropdown-item" href="/teddy-bear">Teddy Bear</a>
      <a class="dropdown-item" href="/hair-dryer">Hair Dryer</a>
      <a class="dropdown-item" href="/toothbrush">Toothbrush</a>
    </div>
  </div>
{% endblock%}